body {
    background: linear-gradient(blue, purple,green);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-capsule {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#draw-board {
    height: 545px;
}

#grid-capsule {
    display: flex;
    flex-direction: column;    
    justify-self: center;
    align-self: center;
    width: 512px;
    height: 512px;
    background-color: black;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.grid-element {
    gap: 0px;
    border-color: gray;
    border-width: 1px;
    border-style: groove;

}

#bottom-row {
    display: flex;
    background-color: white;
    backdrop-filter: blur(10px);
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-style: solid;
    border-bottom: black;
    border-width: 3px;
    gap: 35%;
}

#button-container, #slider-container, #color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 10%;
    height: 100%;
}

button {
    background-color: transparent;
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}

#color-change {
    font-size: 20px;
}

#reset {
    font-size: 40px;
}

#range {
    appearance: none;
    width: 150px;
    height: 10px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border: solid;
    border-radius: 20px;
}

#range::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20px;
}